*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image{
    max-width:400px;
    height: 300px;
}

.cnox{
    display: flex;
    max-width: 1000px;
    gap: 20px;
    justify-content: center;

}
.image img{
    width:100%;
    height:100%;
    object-fit: cover;
    
    
}
.text{
    max-width: 1000px;
    text-align: center;
}
h1{
    font-size: 60px;
    margin-top: 20px;
    text-align: center;
}
p{
    font-size: 28px;
    line-height: 27px;
}